<footer class="footer has-cards">
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          <a href="https://shinobi.systems" target="_blank">Shinobi Systems</a>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://gitlab.com/Shinobi-Systems/kensho" class="nav-link" target="_blank">Kensho</a>
          </li>
          <li class="nav-item">
            <a href="https://shinobi.video" class="nav-link" target="_blank">Shinobi</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
