<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="../index.html">
        <img src="../assets/img/brand/white.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="../assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Menu</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">
                <a get-json="scan" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                    <i class="fa fa-search"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Scan and Proxy</h6>
                    <p class="description d-none d-md-inline-block mb-0">Automatically search and proxy devices with an RTSP or HTTP port available.</p>
                  </div>
                </a>
                <a get-json="scanResults" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="fa fa-refresh"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Reload Results</h6>
                    <p class="description d-none d-md-inline-block mb-0">Reload the results from a previous scan.</p>
                  </div>
                </a>
                <a get-json="interfaces" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="fa fa-sitemap"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h5 class="heading text-warning mb-md-1">Network Interfaces</h5>
                    <p class="description d-none d-md-inline-block mb-0">Get information about the current machine's network controllers.</p>
                  </div>
                </a>
                <!-- <a class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                    <i class="fa fa-globe"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h5 class="heading text-warning mb-md-1">PPTP Connection</h5>
                    <p class="description d-none d-md-inline-block mb-0">Connect to a Virtual Private Network (VPN) over PPTP.</p>
                  </div>
                </a> -->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
