<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Network Camera Scanner and Proxy Tool">
  <meta name="author" content="Shinobi Systems">
  <title>Kensho</title>
  <!-- Favicon -->
  <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Icons -->
  <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <!-- Font -->
  <link href="../assets/css/open-sans.css" rel="stylesheet">
  <!-- Icons -->
  <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="../assets/css/argon.css?v=1.0.1" rel="stylesheet">
  <!-- Renderer -->
  <link href="../assets/css/renderer.css" rel="stylesheet">
  <script>const ejsData = <%- JSON.stringify(ejsData) %></script>
</head>

<body>
  <% include blocks/menu.ejs %>
  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card shadow border-0">
                  <div class="card-body py-5">
                    <a get-json="scan" data-toggle="tooltip" title="Scan and Proxy" class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="fa fa-search"></i>
                    </a>
                    <a get-json="scanResults" data-toggle="tooltip" title="Reload Results" class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="fa fa-refresh"></i>
                    </a>
                    <a get-json="interfaces" data-toggle="tooltip" title="Reload Network Interfaces" class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="fa fa-sitemap"></i>
                    </a>
                    <div>
                      <span class="badge badge-pill badge-danger currentlyScanningHider" style="display:none">Currently Scanning</span>
                      <span class="badge badge-pill badge-success"><t class="numberOfRtspDevices"></t> RTSP Devices</span>
                      <span class="badge badge-pill badge-primary"><t class="numberOfHttpDevices"></t> HTTP Devices</span>
                      <span class="badge badge-pill badge-primary"><t class="numberOfDevices"></t> Devices Total</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="nav-wrapper">
                  <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fa fa-search mr-2"></i>Proxied Devices</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fa fa-sitemap mr-2"></i>Interfaces</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-connectdevelop mr-2"></i>VPN Connection</a>
                    </li>
                  </ul>
                </div>
                <div class="card shadow">
                  <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                          <div id="proxied-devices">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Device IP</th>
                                      <th>HTTP Port</th>
                                      <th>RTSP Port</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>
                          </div>
                          <div id="json-output"></div>
                      </div>
                      <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                          <div id="network-interfaces">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Addresses</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                          <% if(ejsData.isWindows){ %>
                              <blockquote>Windows cannot configure a <b>VPN connection</b> from here. You must do this from the windows configuration tool.</blockquote>
                              <a href="#" class="btn btn-primary my-4" get-json="vpnCreate">Connections (rasphone)</a>
                          <% }else{ %>
                          <form id="form-vpn-create">
                              <div class="form-group mb-3">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fa fa-plug"></i></span>
                                      </div>
                                      <select class="form-control" name="type">
                                          <optgroup label="Connection Type">
                                              <option value="pptp">PPTP</option>
                                              <!-- <option value="l2tp">L2TP</option> -->
                                              <!-- <option value="ovpn">OpenVPN</option> -->
                                          </optgroup>
                                      </select>
                                  </div>
                              </div>
                              <div class="form-group mb-3">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                      </div>
                                      <input class="form-control" name="name" placeholder="Connection Name" type="text">
                                  </div>
                              </div>
                              <div class="form-group mb-3">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                      </div>
                                      <input class="form-control" name="domain" placeholder="Domain" type="text">
                                  </div>
                              </div>
                              <div class="form-group mb-3">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                                      </div>
                                      <input class="form-control" name="user" placeholder="Username" type="text">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                      </div>
                                      <input class="form-control" name="pass" placeholder="Password" type="password">
                                  </div>
                              </div>
                              <div class="pull-right">
                                  <button type="submit" class="btn btn-primary my-4">Save</button>
                              </div>
                              <div class="text-left">
                                  <label class="custom-toggle" data-toggle="tooltip" title="Enable">
                                    <input type="checkbox" name="enabled" value="1">
                                    <span class="custom-toggle-slider rounded-circle"></span>
                                  </label>
                              </div>
                          </form>
                          <% }%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- <% include blocks/footer.ejs %> -->
  <!-- Core -->
  <script>window.$ = window.jQuery = require('jquery')</script>
  <script src="../assets/js/jquery.serializeObject.min.js"></script>
  <script src="../assets/vendor/popper/popper.min.js"></script>
  <script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="../assets/vendor/headroom/headroom.min.js"></script>
  <!-- Argon JS -->
  <script src="../assets/js/argon.js?v=1.0.1"></script>
  <!-- Renderer -->
  <script src="../assets/js/socket.io.js"></script>
  <script src="../assets/js/renderer.js"></script>
</body>

</html>
